  
h1 {
    text-align: center;
}

body {
    padding: 0%;
    background-color: white;
}

#city {
    box-sizing: border-box;
    background: inherit;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    outline: none;
    color: black;
    font-family: 'Monteserrat', sans-serif;
    font-weight: bold;
    font-size: inherit;
}

#country,
#result,
#time {
    font-weight: bold;
    font-family: 'Monteserrat', sans-serif;
    text-align: center;
}

table {
    margin: auto;
}

.footer {
    font-family: 'Monteserrat', sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: teal;
    text-align: center;
}